@model Data.Model.Opportunity

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Opportunity</legend>

        @Html.HiddenFor(model => model.OpportunityId)
        @Html.HiddenFor(model => model.CompanyId)
        @Html.HiddenFor(model => model.OpportunityCreatedDate)

        <div class="editor-label">
            @Html.LabelFor(model => model.Company.CompanyName)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Company.CompanyName)
            @Html.ValidationMessageFor(model => model.Company.CompanyName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OpportunityTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OpportunityTitle)
            @Html.ValidationMessageFor(model => model.OpportunityTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OpportunityDescription)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.OpportunityDescription)
            @Html.ValidationMessageFor(model => model.OpportunityDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OpportunityAdditionalInformation)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.OpportunityAdditionalInformation)
            @Html.ValidationMessageFor(model => model.OpportunityAdditionalInformation)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.OpportunityDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OpportunityDate)
            @Html.ValidationMessageFor(model => model.OpportunityDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OpportunityCreatedDate)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.OpportunityCreatedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OpportunityLocationName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OpportunityLocationName)
            @Html.ValidationMessageFor(model => model.OpportunityLocationName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OpportunityPostcode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OpportunityPostcode, new { style = "width: 100px;" })
            @Html.ValidationMessageFor(model => model.OpportunityPostcode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MinNumberofVolunteers)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MinNumberofVolunteers)
            @Html.ValidationMessageFor(model => model.MinNumberofVolunteers)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaxNumberofVolunteers)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxNumberofVolunteers)
            @Html.ValidationMessageFor(model => model.MaxNumberofVolunteers)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OpportunityStatusId, "OpportunityStatusId")
        </div>
        <div class="editor-field">
            @Html.DropDownList("OpportunityStatusId", string.Empty)
            @Html.ValidationMessageFor(model => model.OpportunityStatusId)
        </div>

        <h3>Status Details</h3>
        <div class="editor-label">
            @Html.LabelFor(model => model.RiskAssessmentCompleteFlag)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.RiskAssessmentCompleteFlag)            
            @Html.EditorFor(model => model.RiskAssessmentDocLink, new { style = "width: 50px;" }) 
            @Html.ValidationMessageFor(model => model.RiskAssessmentDocLink)
             <a href="http://webapps/doclib/launchdocument.asp?mdocumentid=13291600&Mode=Link">Link</a>
        </div>
       

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactMadeFlag)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.ContactMadeFlag)
            @Html.ValidationMessageFor(model => model.ContactMadeFlag)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SEARSNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SEARSNumber)
            @Html.ValidationMessageFor(model => model.SEARSNumber)        
            <a href="http://sears.uk.ssegroup.net/">Link</a>
        </div>
 
   
        <h3>Audit History</h3>

        <h3>Feedback</h3>
        NPI score by company and employees

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
